*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// #search{
//   width: 100%;
//   height: 100vh;
//     padding-top: 2rem;
//   display: flex;
//   align-items: top;
//   justify-content: center;
// section{
//   height: 10vh;
//   width: 80%;
//   border-radius: 10px;
//   backdrop-filter: blur(120px);
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   padding-left: 2rem;
//   padding-right: 2rem;
//   #FiSearch{
//     font-size: 1.7rem;
//   }
//   input{
//     width: 69.5rem;
//     height: 5vh;
//     padding-left: .6rem;
//     border: none;
//     outline: none;
//     font-size: 1.5vw;
//     border-left: 1px solid #ffffff9c;
//   }
// }
// }